<div class="container-fluid">
	<div class="content">
		<div class="row-fluid">
			<div class="span12">
				<div class="box">
					<div class="box-head tabs">
						<h3>个人管理</h3>
						<ul class="nav nav-tabs">
							<li class='active'>
								<a href="#inbox" data-toggle="tab">用户管理</a>
							</li>
							<li>
								<a href="#trash" data-toggle="tab">简历列表</a>
							</li>
							<li>
								<a href="#sent" data-toggle="tab">回收站</a>
							</li>
						</ul>
					</div>
					<div class="box-content box-nomargin">
						<div class="tab-content">
							<div class="tab-pane active table-with-action" id="inbox">
								<div class="alert alert-info">
									<strong>注册用户管理</strong> 
								</div>
								<form action="{:url('admin/user/delete')}" method="post">
									<table class="table table-has-pover table-striped table-bordered dataTable dataTable-nosort" data-nosort="0">	
										<tr>
											<th class=''>
												<input type="checkbox" class='sel_all'>
											</th>
											<th>用户名</th>
											<th>email</th>
											<th>手机</th>
											<th>注册时间</th>
											<th>更新时间</th>
											<th>创建简历</th>
											<th>操作</th>
										</tr>
										{notempty name='list'}
										{volist name='list' id='val'}
										<tr class='table-unread'>
											<td class='table-checkbox'>
												<input type="checkbox" class='selectable-checkbox' value="{$val.uid}" name="uid[]">
											</td>
											<td>
												<a href="#" class='pover' data-title="username" data-content="some user information">{$val.username}</a>
											</td>
											<td>{$val.email}</td>
											<td>{$val.phone_num}</td>
											<td>{$val.create_time|date="Y-m-d",###}</td>
											<td>{$val.update_time|date="Y-m-d",###}</td>
											{if condition="$val['resume'] eq 1"}
											<td>是</td>
											{else /}
											<td>否</td>
											{/if}
											<td class='actions'>
												<div class="btn-group">
													<a href="{:url('admin/user/delete?uid='.$val['uid'])}" title="Delete" class="btn btn-mini tip">
														删除
													</a>
												</div>
											</td>
										</tr>
										{/volist}
										{/notempty}
									</table>
									<div class="force-padding">
										<div class="btn-toolbar">
											<div class="btn-group">
												<button class="btn">加入黑名单</button>
											</div>
										</div>
									</div>
								</form>
								<div class="force-padding">{$list->render()}</div>
							</div>
							<div class="tab-pane table-with-action" id="trash">
								<div class="alert alert-info">
									<strong>简历列表</strong>
								</div>
								<table class='table table-striped table-bordered dataTable dataTable-nosort' data-nosort="0">
									<tr>
										<th class=''>
											<input type="checkbox" class='sel_all'>
										</th>
										<th>真实姓名</th>
										<th>email</th>
										<th>手机</th>
										<th>审核状态</th>
										<th>公开</th>
										<th>照片</th>
										<th>创建时间</th>
										<th>更新时间</th>
										<th>操作</th>
									</tr>
									{volist name='resume' id='rval'}
									<tr id="resume">
										<td class='table-checkbox'>
											<input type="checkbox" class='selectable-checkbox' value="{$rval.rid}">
										</td>
										<td>{$rval.realname}</td>
										<td>{$rval.email}</td>
										<td>{$rval.phone_num}</td>
										<td>
											{if condition="$rval['is_disabled'] eq 1"}
											通过
											{else /}
											未通过
										</td>
										{/if}
										<td>
											{if condition="$rval['is_public'] eq 1"}
											公开
											{else /}
											不公开
											{/if}
										</td>
										<td></td>
										<td>{$rval.create_time|date="Y-m-d",###}</td>
										<td>{$rval.update_time|date="Y-m-d",###}</td>
										<td class='actions'>
											<div class="btn-group">
												<button value="{$rval.rid}">删除</button>
											</div>
										</td>
									</tr>
									{/volist}
								</table>
								<div class="force-padding">
									<div class="btn-toolbar">
										<div class="btn-group">
											<button class="btn" id="review">审核通过</button>
											<button class="btn" id="delete">删除</button>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane table-with-action" id="sent">
								<div class="alert alert-info">
									<strong>用户回收站</strong>
								</div>
								<form action="{:url('admin/user/action')}" method="post">
									<table class='table table-striped table-bordered dataTable dataTable-nosort' data-nosort="0">
										<tr>
											<th class='table-unread'>
												<input type="checkbox" class='sel_all'>
											</th>
											<th>用户名</th>
											<th>email</th>
											<th>手机</th>
											<th>注册时间</th>
											<th>删除时间</th>
										</tr>
										{volist name='soft' id='value'}
										<tr class='table-unread' id="user">
											<td class='table-checkbox'>
												<input type="checkbox" class='selectable-checkbox' name="uid[]" value="{$value.uid}">
											</td>
											<td>
												{$value.username}
											</td>
											<td>{$value.email}</td>
											<td>{$value.phone_num}</td>
											<td>{$value.create_time|date="Y-m-d",###}</td>
											<td>{$value.delete_time|date="Y-m-d",###}</td>
										</tr>
										{/volist}
									</table>
									<div class="force-padding">
										<div class="btn-toolbar">
											<div class="btn-group">
												<button class="btn" value="0" name="btn">恢复</button>
											</div>
											<div class="btn-group">
												<button class="btn" value="1" name="btn">删除</button>
											</div>
										</div>
									</div>
								</form>
								<div class="force-padding">{$soft->render()}</div>
								<div class="alert alert-info" style="border-top:1px solid #a6a6a6">
									<strong>简历回收站</strong>
								</div>
								<form action="{:url('admin/resume/action')}" method="post">
									<table class='table table-striped table-bordered dataTable dataTable-nosort' data-nosort="0">
										<tr>
											<th class='table-unread'>
												<input type="checkbox" class='sel_all'>
											</th>
											<th>真实姓名</th>
											<th>email</th>
											<th>手机</th>
											<th>审核状态</th>
											<th>公开</th>
											<th>照片</th>
											<th>创建时间</th>
											<th>更新时间</th>
										</tr>
										{volist name='soft_resume' id='srval'}
										<tr class='table-unread'>
											<td class='table-checkbox'>
												<input type="checkbox" class='selectable-checkbox' name="uid[]" value="{$srval.rid}">
											</td>
											<td>{$srval.realname}</td>
											<td>{$srval.email}</td>
											<td>{$srval.phone_num}</td>
											<td>
												{if condition="$srval['is_disabled'] eq 1"}
												通过
												{else /}
												未通过
												{/if}
											</td>
											<td>
												{if condition="$srval['is_public'] eq 1"}
												公开
												{else /}
												不公开
												{/if}
											</td>
											<td></td>
											<td>{$srval.create_time|date="Y-m-d",###}</td>
											<td>{$srval.update_time|date="Y-m-d",###}</td>
										</tr>
										{/volist}
									</table>
									<div class="force-padding">
										<div class="btn-toolbar">
											<div class="btn-group">
												<button class="btn" value="0" name="btn">恢复</button>
											</div>
											<div class="btn-group">
												<button class="btn" value="1" name="btn">删除</button>
											</div>
										</div>
									</div>
								</form>
								<div class="force-padding">{$soft->render()}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<script type="text/javascript">

		$('#review').click(function(){
			$("input:checked").each(function(){
				
				$(this).parent().next().next().next().next().html('通过');
				
				$.post('__SITE__/admin/index/review', {select : $(this).val()});
				
			});

		});

		$('#delete').click(function(){
			$("input:checked").each(function(){
				$.post('__SITE__/admin/index/deleteResume', {select : $(this).val()});

			});

		});

		$('#resume button').each(function(){
			$(this).click(function(){
				$.post('__SITE__/admin/index/delete',{rid:$(this).val()});
				$(this).parent().parent().parent().css('display','none');
			});
		});

		$('#user button').each(function(){
			$(this).click(function(){
				if($(this).html() == '恢复'){
					$.post('__SITE__/admin/user/renew',{uid:$(this).val()});
				} else {
					$.post('__SITE__/admin/user/delete',{uid:$(this).val()});
				}
				$(this).parent().parent().parent().css('display','none');
			});
		});
	</script>