<div class="main">
	<div class="navi">
		<ul class='main-nav'>
			<li class='active'>
				<a href="{:url('admin/index/index')}" class='light'>
					<div class="ico"><i class="icon-home icon-white"></i></div>
					个人用户列表
				</a>
			</li>
			<li>
				<a href="{:url('admin/company/company')}" class='light'>
					<div class="ico"><i class="icon-list icon-white"></i></div>
					企业用户列表
				</a>
			</li>
			<li>
				<a href="{:url('admin/position/position')}" class='light'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
					职位管理
				</a>
			</li>
			<li>
				<a href="{:url('admin/city/city')}" class='light'>
					<div class="ico"><i class="icon-tasks icon-white"></i></div>
					城市管理
				</a>
			</li>
			<li>
				<a href="{:url('admin/link/link')}" class='light'>
					<div class="ico"><i class="icon-signal icon-white"></i></div>
					友情链接
				</a>
			</li>
			<li>
				<a href="{:url('admin/position/industry')}" class='light'>
					<div class="ico"><i class="icon-exclamation-sign icon-white"></i></div>
					行业管理
				</a>
			</li>
			<li>
				<a href="#" class='light'>
					<div class="ico"><i class="icon-book icon-white"></i></div>
					Sample Pages
				</a>
			</li>
		</ul>
	</div>
</div>				
<div class="container-fluid">
	<div class="content">
		<div class="row-fluid">
			<div class="span12">
				<div class="box">
					<div class="box-head tabs">
						<h3>个人用户管理</h3>
						<ul class="nav nav-tabs">
							<li class='active'>
								<a href="#inbox" data-toggle="tab">编辑用户</a>
							</li>
							<li>
								<a href="#sent" data-toggle="tab">黑名单</a>
							</li>
						</ul>
					</div>
					<div class="box-content box-nomargin">
						<div class="alert alert-info">
							<strong>注意!</strong> As you can see, the checkbox column can't be sorted! It's disabled via <code>data</code> attribute. By the way... even popovers work well in dataTables!
						</div>
						<div class="tab-content">
							<div class="tab-pane active table-with-action" id="inbox">
								<form action="{:url('admin/user/delete')}" method="post">
								<table class="table table-has-pover table-striped table-bordered dataTable dataTable-nosort" data-nosort="0">				<tr>
											<th class=''>
												<input type="checkbox" class='sel_all'>
											</th>
											<th>用户ID</th>
											<th>用户名</th>
											<th>注册时间</th>
											<th>吖吖</th>
											<th>额额</th>
											<th>操作</th>
										</tr>
									{volist name='list' id='val'}
										<tr class='table-unread'>
											<td class='table-checkbox'>
												<input type="checkbox" class='selectable-checkbox' value="{$val.uid}" name="uid[]">
											</td>
											<td>{$val.uid}</td>
											<td>
												<a href="#" class='pover' data-title="username" data-content="some user information">{$val.username}</a>
											</td>
											<td>
												{$val.create_time}
											</td>
											<td></td>
											<td></td>
											<td class='actions'>
												<div class="btn-group">
													<a href="{:url('admin/user/delete?uid='.$val['uid'])}" title="Delete" class="btn btn-mini tip">
														删除
													</a>
												</div>
											</td>
										</tr>
									{/volist}
								</table>
								<div class="force-padding">
									<div class="btn-toolbar">
										<div class="btn-group">
											<button class="btn">加入黑名单</button>
										</div>
									</div>
								</div>
								</form>
								<div class="force-padding">{$list->render()}</div>
							</div>
							<div class="tab-pane table-with-action" id="sent">
								<form action="{:url('admin/user/action')}" method="post">
								<table class='table table-striped table-bordered dataTable dataTable-nosort' data-nosort="0">
									<thead>
										<tr>
											<th class=''>
												<input type="checkbox" class='sel_all'>
											</th>
											<th>用户ID</th>
											<th>用户名</th>
											<th>注册时间</th>
											<th>操作</th>
											<th>吖吖</th>
											<th>额额</th>
										</tr>
									</thead>
									<tbody>
									{volist name='soft' id='value'}
										<tr class='table-unread'>
											<td class='table-checkbox'>
												<input type="checkbox" class='selectable-checkbox' name="uid[]" value="{$value.uid}">
											</td>
											<td>{$value.uid}</td>
											<td>
												<a href="#" class='pover' data-title="username" data-content="some user information">{$value.username}</a>
											</td>
											<td>
												{$value.create_time}
											</td>
											<td></td>
											<td></td>
											<td class='actions'>
												<div class="btn-group">
													<a href="{:url('admin/user/renew?uid='.$value['uid'])}" title="Renew" class="btn btn-mini tip">
														恢复
													</a>
													<a href="{:url('admin/user/reldelete?uid='.$value['uid'])}" title="Delete" class="btn btn-mini tip">
														删除
													</a>
												</div>
											</td>
										</tr>
									{/volist}
									</tbody>
								</table>
								<div class="force-padding">
									<div class="btn-toolbar">
										<div class="btn-group">
											<button class="btn" value="0" name="btn">恢复</button>
										</div>
										<div class="btn-group">
											<button class="btn" value="1" name="btn">删除</button>
										</div>
									</div>
								</div>
								</form>
								<div class="force-padding">{$soft->render()}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>