<input type="hidden" id="serverTime" value="1480553532573" />

<!-- 页面主体START -->
<div class="container clearfix" id="container">

	<div id="sidebar" class="sidebar" data-lg-tj-track-code="index_navigation" data-lg-tj-track-type="1">
		<div class="mainNavs">
			{volist name='big' id='bval'}
				<div class="menu_box">
					<div class="menu_main job_hopping">
						<h2>
							{$bval.name}
							<span></span>
						</h2>
						{volist name='small' id='sval'}
						{if condition="$sval['parentid'] eq $bval['iid']"}
							{volist name='hot' id='hval'}
								{if condition="$hval['iid'] eq $sval['iid']"}
									<a href="__SITE__/index/position/php/offer_name/{$hval.p_name}">{$hval.p_name}</a>
								{/if}
							{/volist}
						{/if}
						{/volist}
					</div>
					<div class="menu_sub dn">
						{volist name='small' id='sval'}
							{if condition="$sval['parentid'] eq $bval['iid']"}
							<dl>
								<dt>{$sval.name}</dt>
							
								<dd>
									{volist name='position' id='pval'}
										{if condition="$pval['iid'] eq $sval['iid']"}
											<a href="__SITE__/index/position/php/offer_name/{$pval.p_name}" style="color:{$pval.style}">{$pval.p_name}</a>
										{/if}
									{/volist}
								</dd>
							</dl>
							{/if}
						{/volist}
					</div>
				</div>
			{/volist}
		</div>
		<!-- <a class="subscribe" href="//www.lagou.com/s/subscribe.html" target="_blank">订阅职位</a> -->
		<div class="subscribe">
			<a href="javascript:;" target="_blank" rel="nofollow" data-lg-tj-id="4g00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">
				<span>订阅职位</span>
				<i id="n_rss" href="javascript:;" target="_blank" rel="nofollow">&nbsp;</i>
			</a>
		</div>
		<!-- <div class="suggestCity"><strong>全国站</strong><span id="changeCity_btn">[切换城市]</span></div> -->
	</div>


	<div class="content">

		

		<div id="search_box" class="search_box" data-lg-tj-track-code="index_search" data-lg-tj-track-type="1">
			<form id="searchForm" class="searchForm" name="searchForm" action="__SITE__/index/position/php" method="post">
				<input type="text" name="offer_name" placeholder="搜索职位" style="width:586px;height:33px;border:2px solid #00B38A;"/>
				<input type="hidden" name="labelWords" id="labelWords" value="" />
				<input type="hidden" name="fromSearch" id="fromSearch" value="true" />
				<input type="hidden" name="suginput" id="suginput" />

				<input type="submit" id="search_button" class="search_button" value="搜索"/>
			</form>
			<input type="hidden" id="search_py" value=""/>
			<input type="hidden" id="isIndex" value="true"/>
		</div>
		<div class="guess_wrapper dn">
			<span>猜你要搜</span>
			<ul></ul>
		</div>
		<dl class="hotSearch" data-lg-tj-track-code="index_hotsearch" data-lg-tj-track-type="1"></dl>


		<div id="home_banner" class="home_banner" data-lg-tj-track-code="index_bannerad" data-lg-tj-track-type="1">
			<ul class="banner_bg">
				<li  class="banner_bg_1 current" >

					
					
					<a class="tj_exposure" rel="nofollow" href="javascript:;" target="_blank" data-lg-tj-id="4k00" data-lg-tj-no="0001" data-lg-tj-cid="2893">
						<img src="__SITE__/static/picture/cgqkkvg1staauacraaddqpzxeus844.jpg" width="612" height="160" alt="拉勾APP" />
					</a>
				</li>
				<li  class="banner_bg_2" >

					
					
					<a class="tj_exposure" rel="nofollow" href="javascript:;" target="_blank" data-lg-tj-id="4k00" data-lg-tj-no="0002" data-lg-tj-cid="2900">
						<img src="__SITE__/static/picture/cgp3o1g7-fmaz_f0aaeqkjkklqe019.png" width="612" height="160" alt="智能硬件专场抓取" />
					</a>
				</li>
				<li  class="banner_bg_3" >

					
					
					<a class="tj_exposure" rel="nofollow" href="javascript:;" data-lg-tj-id="4k00" data-lg-tj-no="0003" data-lg-tj-cid="2903">
						<img src="__SITE__/static/picture/cgqkkvg1vq-ax6qnaadnspb8uji303.jpg" width="612" height="160" alt="小而美公司抓取" />
					</a>
				</li>
			</ul>
			<div class="banner_control">
				<em></em>
				<ul class="thumbs">
					<li  class="thumbs_1 current" >
						<i></i>                
						<img src="__SITE__/static/picture/cgp3o1g1stiamshcaaaw31-85qg374.jpg" width="113" height="42" />
					</li>
					<li  class="thumbs_2" >
						<i></i>                
						<img src="__SITE__/static/picture/cgqkkvg7-fuauv0aaaajojrjzi8264.png" width="113" height="42" />
					</li>
					<li  class="thumbs_3" >
						<i></i>                
						<img src="__SITE__/static/picture/cgp3o1g1vrgahdmeaaavebqgn1s129.jpg" width="113" height="42" />
					</li>
				</ul>
			</div>
		</div>

		<ul id="da-thumbs" class="da-thumbs" data-lg-tj-track-code="index_logoad" data-lg-tj-track-type="1">
			{volist name='company' id='cval'}
			<li >
				<a class="tj_exposure" href="__SITE__/index/position/companyHomePage/cid/{$cval.cid}" data-lg-tj-id="4l00" data-lg-tj-no="0001" data-lg-tj-cid="6202">
					<img src="{$cval.logo}" width="113" height="113" alt="{$cval.cname}" />
					<div class="hot_info">
						<h2 title="{$cval.cname}">{$cval.cname}</h2>
						<em></em>
						<p title="{$cval.slogan}">
							{$cval.slogan}
						</p>
					</div>
				</a>
			</li>
			{/volist}
		</ul>


		<ul class="job_tab" id="jobTab">
			<li class="current hotTab" data-lg-tj-id="4X00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">热门职位</li>
			<li class="newTab" data-lg-tj-id="gD00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">最新职位</li>
		</ul>
		<div class="job_list clearfix" id="jobList">
			
			<div  class="hot_posHotPosition position_list init_joblist"  data-lg-tj-track-code="index_hotjob" data-lg-tj-track-type="1">
				<ul class="clearfix">
				{volist name='office' id='oval'}
					<li class="position_list_item"  data-jobId = "1976814" data-positionid="1976814" data-salary="{$oval.money}" data-company="{$oval.company}" data-positionname="{$oval.offer_name}" data-companyid="35384">
						<div class="pli_top">
							<div class="fl pli_top_l">
								<div class="position_name">
									
									<h2 class="fl"><a href="__SITE__/index/position/details?offer_id={$oval.offer_id}" target="_blank" class="position_link fl wordCut" data-index="0" data-lg-tj-id="rx00" data-lg-tj-no="0001" data-lg-tj-cid="1976814">{$oval.offer_name}<span>[{$oval.positionAddress}]</span></a></h2>
									<!-- 此处需要和后台确认 -->
									<span class="fl">{$oval.create_time|date="Y-m-d",###}</span>
								</div>
								<div class="position_main_info">
									<span class="salary fl">{$oval.money}</span>
									<span><!-- <i class="experience"></i>&nbsp;  -->经验{$oval.experience}</span> / <span>{$oval.education}</span>
								</div>
							</div>
							<div class="fr pli_top_r">
								<div class="company_name wordCut">
									<a href="//www.lagou.com/gongsi/35384.html" target="_blank" data-lg-tj-id="vz00" data-lg-tj-no="0001" data-lg-tj-cid="35384">{$oval.company}</a>
								</div>
								<div class="industry wordCut">
									<span>{$oval.industry}</span> / <span>{$oval.financing}</span>
								</div>
							</div>
						</div>
						<div class="pli_btm">
							<div class="pli_btm_l fl">
								<span class="wordCut">{$oval.industry}</span>
							</div>
							<div class="pli_btm_r fl wordCut">
								{$oval.positionAdvantage}
							</div>
						</div>
					</li>
					{/volist}
				</ul>
				{$office->render()}
			</div>
			<div class="new_posHotPosition position_list" style="display:none;">
				<ul class="clearfix">
					{volist name='new' id='nval'}
					<li class="position_list_item" data-salary="{$nval.money}" data-company="{$nval.company}" data-positionname="{$nval.offer_name}">
						<div class="pli_top">
							<div class="fl pli_top_l">
								<div class="position_name">
									
									<h2 class="fl"><a href="__SITE__/index/position/details?offer_id={$nval.offer_id}" target="_blank">{$nval.offer_name}<span>[{$nval.positionAddress}]</span></a></h2>
									<!-- 此处需要和后台确认 -->
									<span class="fl">{$nval.create_time|date="Y-m-d",###}</span>
								</div>
								<div class="position_main_info">
									<span class="salary fl">{$nval.money}</span>
									<span><!-- <i class="experience"></i>&nbsp;  -->经验{$nval.experience}</span> / <span>{$nval.education}</span>
								</div>
							</div>
							<div class="fr pli_top_r">
								<div class="company_name wordCut">
									<a href="//www.lagou.com/gongsi/64050.html" target="_blank" data-lg-tj-id="4r00" data-lg-tj-no="0001" data-lg-tj-cid="64050">{$nval.company}</a>
								</div>
								<div class="industry wordCut">
									<span>{$nval.industry}</span> / <span>{$nval.financing}</span>
								</div>
							</div>
						</div>
						<div class="pli_btm">
							<div class="pli_btm_l fl">
								<span class="wordCut">{$nval.industry}</span>
							</div>
							<div class="pli_btm_r fl wordCut">
								{$nval.positionAdvantage}
							</div>
						</div>
					</li>
					{/volist}
					<li>{$new->render()}</li>
				</ul>
				
			</div>
		</div>


		<div id="linkbox" class="linkbox show-linkbox">
			<dl>
				<dt>友情链接</dt>
				<dd>
					<a href="__SITE__" target="_blank">拉勾网</a> <span>|</span>
					<a href="javascript:;" target="_blank">大鲲</a> <span>|</span> 
					<a href="javascript:;" target="_blank">招聘</a> <span>|</span>
					<a href="javascript:;" target="_blank">app下载</a> 
					{volist name='link' id='lval'}
						<a href="{$lval.url}" target="_blank">{$lval.site_name}</a> <span>|</span>
					{/volist}                                              
					<a href="javascript:;" target="_blank" class="more" rel="nofollow">更多</a>
				</dd>
			</dl>
			<a rel="nofollow" href="javascript:;" class="expansion">展开<i></i></a>
		</div>


	</div>

</div>
<!-- 页面主体END -->

<!-- footer <-->
<a id="backtop" title="回到顶部" rel="nofollow"></a>
<!-- feedback -->
<!--
    @require "common/widgets/footer_c/modules/feedback/feedback.less"
-->

<div id="product-fk">
	<div id="feedback-icon">
		<div class="fb-icon"></div>
		<span>我要反馈</span>
	</div>
</div>



<!-- 底部登录条 -->
	<!--
    @require "common/widgets/login_toolbar/main.less"
-->

<div id="loginToolBar" class="loginToolBar">
	<div>
		<em></em>
		<img src="__SITE__/static/picture/footbar_logo_cccc78d.png" width="138" height="45" />
		<span class="companycount"></span>
		<span class="positioncount"></span>
		<a class="bar_login passport_login_pop" href="{:url('index/auth/login')}"><i></i></a>
		<div class="right">
			<a rel="nofollow" href="{:url('index/auth/register')}" onclick="_hmt.push(['_trackEvent', 'button', 'click', 'register'])" class="bar_register" id="bar_register" target="_blank" data-lg-tj-id="4t00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull"><i></i></a>
		</div>
		<input type="hidden" id="cc" value="150510" />
		<input type="hidden" id="cp" value="2572804" />
	</div>
</div>


<!-- jquery lib -->
<!-- analytics js file -->	<!-- plat analytics js file -->	<!-- plat ipinyou tj -->
<!-- <script src="../js/ipinyou.js"></script> -->

<!-- <noscript><img src="../picture/adv.gif" style="display:none;" /></noscript> -->


<script type="text/javascript" src="__SITE__/static/js/vendor_a673406.js"></script>
<script type="text/javascript">/*resourcemap*/
	require.config({paths:{
		"common/components/template-helper/main": "//www.lgstatic.com/www/static/common/components/template-helper/main_e08c2f2",
		"common/widgets/common/msgPopup": "//www.lgstatic.com/www/static/common/widgets/common/msgPopup_ec89803"
	}});</script>
	<script type="text/javascript" src="__SITE__/static/js/main.html_aio_4787e07.js"></script>
	<script type="text/javascript" src="__SITE__/static/js/widgets_a1e07bb.js"></script>
	<script type="text/javascript" src="__SITE__/static/js/userinfo_7f282e9.js"></script>
	<script type="text/javascript" src="__SITE__/static/js/layout_89bb557.js"></script>
	<script type="text/javascript" src="__SITE__/static/js/main.html_aio_2_d369f1c.js"></script>
	<script type="text/javascript">
		window.global = window.global || {};
		global.userCtx = '';


		window.global = window.global || {};
		global.isLogin = false;
		global.isFirst = false;
		global.subSite = '全国';
		global.subSites = '北京,上海,杭州,广州,深圳,成都'.split(',');


		require(['common/widgets/header_c/modules/emailvalid/main']);


		require(['common/widgets/passport/passport'], function() {

			
			/* 设置自动登录监听器 */
			PASSPORT.on('autologin:succ', function() {
				PASSPORT.util.tinfo('autologin:succ');
				window.location.reload();
			});
			PASSPORT.on('autologin:fail', function() {
				PASSPORT.util.tinfo('autologin:fail');
			});
        // 触发自动登录
        PASSPORT.auto();

        /* 设置弹窗登录监听器 */
        PASSPORT.on('popuplogin:succ', function() {
        	PASSPORT.util.tinfo('popuplogin:succ');
        	window.location.reload();
        });
        PASSPORT.on('popuplogin:fail', function() {
        	PASSPORT.util.tinfo('popuplogin:fail');
        });
        // 触发弹窗登录
        //PASSPORT.popup();
        jQuery('.passport_login_pop').each(function() {
        	jQuery(this).click(function() {
        		PASSPORT.popup();
        	});
        });

        
    });


		require(['common/widgets/header_c/layout/main']);
		

		require(['common/widgets/footer_c/modules/feedback/feedback']);


		require(['common/widgets/footer_c/layout/main']);
		
		$(document).ready(function () {
			var selector = '#webchat7moor';
			if ($(selector).length) { 
				return;
			}

			var jqIframe = $('<iframe>', {
				id: selector.slice(1),
				src: '//www.lgstatic.com/third-parties/webchat7moor/main_0c9d761.html',
				style: 'margin:0;'
				+ 'padding:0;'
				+ 'width:320px;'
				+ 'height:500px;'
				+ 'border-width:0;'
				+ 'border-radius: 3px;'
				+ 'transition: height 0.5s ease-out;'
				+ 'z-index:-99999;'
				+ 'display: none;'
				+ 'bottom:0;'
				+ 'right:0;'
				+ 'position:fixed;'
			});
			$(document.body).append(jqIframe);

			var child = jqIframe[0].contentWindow;
			var target = window.location.protocol + '//' + (window.GLOBAL_CDN_DOMAIN || 'www.lgstatic.com');

			$('#onlineService, #feedback-icon').on('click', function (e) {
				jqIframe.css('z-index', 99999).show();
				child.postMessage('{"code":1,"message":"open webchat plugin"}', target);
			});

			$(window).on('message', function (e) {
				var origin = e.origin || e.originalEvent.origin;
				if (origin.indexOf(target) !== 0) { 
					return;
				}

				var data = e.data || e.originalEvent.data;
				if (data.code === 2 && typeof data.css !== 'undefined') { 
					jqIframe.css(data.css);
				} else { 
					jqIframe.css('z-index', -99999).hide();
				}
			});
		});


		require(['common/widgets/login_toolbar/main'])


	    //业务主模块入口
	    require(['index/page/index/main']);
	</script>

