<div class="main">
    <div class="navi">
        <ul class='main-nav'>
            <li>
                <a href="{:url('admin/index/index')}" class='light'>
                    <div class="ico"><i class="icon-home icon-white"></i></div>
                    个人用户列表
                </a>
            </li>
            <li>
                <a href="{:url('admin/company/company')}" class='light'>
                    <div class="ico"><i class="icon-list icon-white"></i></div>
                    企业用户列表
                </a>
            </li>
            <li>
                <a href="{:url('admin/position/position')}" class='light'>
                    <div class="ico"><i class="icon-th-large icon-white"></i></div>
                    职位管理
                </a>
            </li>
            <li>
                <a href="{:url('admin/city/city')}" class='light'>
                    <div class="ico"><i class="icon-tasks icon-white"></i></div>
                    城市管理
                </a>
            </li>
            <li>
                <a href="{:url('admin/link/link')}" class='light'>
                    <div class="ico"><i class="icon-signal icon-white"></i></div>
                    友情链接
                </a>
            </li>
            <li class='active'>
                <a href="{:url('admin/position/industry')}" class='light'>
                    <div class="ico"><i class="icon-exclamation-sign icon-white"></i></div>
                    行业管理
                </a>
            </li>
            <li>
                <a href="#" class='light'>
                    <div class="ico"><i class="icon-book icon-white"></i></div>
                    Sample Pages
                </a>
            </li>
        </ul>
    </div>
</div>    
<div class="container-fluid">          
   <div class="main_content">
    <div class="row-fluid">
        <div class="span6">
            <h3 class="heading">ScroolTo Example</h3>
            <div id="countries">
                <dl>
                    <dt>技术</dt>
                    <dd>后端开发</dd>
                    <dd>移动开发</dd>
                    <dd>前端开发</dd>
                    <dd>Algeria</dd>
                    <dd>American Samoa</dd>
                    <dd>Andorra</dd>
                    <dd>Angola</dd>
                </dl>
                <dl>
                    <dt>产品</dt>
                    <dd>产品经理</dd>
                    <dd>高端设计师</dd>
                    <dd>产品设计师</dd>
                    <dd>Barbados</dd>
                    <dd>Bassas da India</dd>
                    <dd>Belarus</dd>
                    <dd>Belgium</dd>
                    <dd>Belize</dd>
                    <dd>Benin</dd>
                </dl>
            </div>
        </div>
        <div class="span6">
            <div class="box">
                <div class="box-head">
                    <h3>More basic elements</h3>
                </div>
                <div class="box-content">
                    <form action="#" class="form-horizontal">
                        <fieldset>
                            <div class="control-group error">
                                <label for="error" class="control-label">Error</label>
                                <div class="controls">
                                    <input type="text" name="error" id="error" class='input-square'>
                                    <span class="help-inline">Woops, error!</span>
                                </div>
                            </div>
                            <div class="control-group warning">
                                <label for="warning" class="control-label">Warning</label>
                                <div class="controls">
                                    <input type="text" name="warning" id="warning" class='input-square'>
                                    <span class="help-inline">Hm, just a warning - nothing critical!</span>
                                </div>
                            </div>
                            <div class="control-group success">
                                <label for="success" class="control-label">Success</label>
                                <div class="controls">
                                    <input type="text" name="success" id="success" class='input-square'>
                                    <span class="help-inline">Yay! Correct.</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="select" class="control-label">Selects</label>
                                <div class="controls">
                                    <select name="select" id="select">
                                        <option value="1">--不选择--</option>
                                        <option value="2">技术</option>
                                        <option value="3">产品</option>
                                        <option value="4">设计</option>
                                        <option value="5">运营</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="textcounter" class="control-label">Textarea with counter</label>
                                <div class="controls">
                                    <textarea name="textcounter" id="textcounter" class='input-square span9 counter' data-max="150" rows='2'></textarea>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">Send</button>
                                <input type="reset" class='btn btn-danger' value="reset">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>