<div class="container-fluid">          
   <div class="main_content">
    <div class="row-fluid">
        <div class="span6">
            <h3 class="heading">职位列表</h3>
            <br />
            <div id="countries">
                <dl>
                    {volist name='option' id='value'}
                        <dt>{$value.name}</dt>
                        {volist name='job' id='pval'}
                            {if condition="$pval['iid'] eq $value['iid']"}
                            <dd>
                            	<input type="text" value="{$pval.p_name}">
                                {if condition="$pval['is_hot'] eq 1"}
                            	<button value="{$pval.pid}">取消热门</button>
                                {else /}
                                <button value="{$pval.pid}">设为热门</button>
                                {/if}
                            </dd>
                            {/if}
                        {/volist}
                    {/volist}
                </dl>
            </div>
        </div>
        <div class="span6">
            <div class="box">
                <div class="box-head">
                    <h3>添加职位</h3>
                </div>
                <br />
                 <br />
                <div class="box-content">
                    <form action="{:url('admin/position/add')}" class="form-horizontal">
                        <fieldset>
                            <div class="control-group success">
                                <label for="success" class="control-label">职位名称</label>
                                <div class="controls">
                                    <input type="text" name="job_name" id="success" class='input-square'>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="select" class="control-label">选择版块</label>
                                <div class="controls">
                                    <select name="select" id="select">
                                        <option value="">--请选择所属行业--</option>
                                        {volist name='option' id='val'}
                                        <option value="{$val.iid}">{$val.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">添加</button>
                                <input type="reset" class='btn btn-danger' value="重置">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $('#countries button').each(function(){
        var btn;
        $(this).click(function(){
           
            if ($(this).html() == '取消热门'){

                    $(this).html('设为热门'); 
                    btn = 0;
                } else {

                    $(this).html('取消热门');
                    btn = 1;
                }

             $.post('__SITE__/admin/position/setHot', {id:$(this).val(), btn:btn});

            }
        );

    });
</script>