<div class="main">
	<div class="navi">
		<ul class='main-nav'>
			<li>
				<a href="{:url('admin/index/index')}" class='light'>
					<div class="ico"><i class="icon-home icon-white"></i></div>
					个人用户列表
				</a>
			</li>
			<li>
				<a href="{:url('admin/company/company')}" class='light'>
					<div class="ico"><i class="icon-list icon-white"></i></div>
					企业用户列表
				</a>
			</li>
			<li class='active'>
				<a href="{:url('admin/position/position')}" class='light'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
					职位管理
				</a>
			</li>
			<li>
				<a href="{:url('admin/city/city')}" class='light'>
					<div class="ico"><i class="icon-tasks icon-white"></i></div>
					城市管理
				</a>
			</li>
			<li>
				<a href="{:url('admin/link/link')}" class='light'>
					<div class="ico"><i class="icon-signal icon-white"></i></div>
					友情链接
				</a>
			</li>
			<li>
				<a href="{:url('admin/position/industry')}" class='light'>
					<div class="ico"><i class="icon-exclamation-sign icon-white"></i></div>
					行业管理
				</a>
			</li>
			<li>
				<a href="#" class='light'>
					<div class="ico"><i class="icon-book icon-white"></i></div>
					Sample Pages
				</a>
			</li>
		</ul>
	</div>
</div>				
<div class="container-fluid">          
   <div class="main_content">
    <div class="row-fluid">
        <div class="span6">
            <h3 class="heading">职位列表</h3>
            <br />
            <div id="countries">
                <dl>
                    {volist name='option' id='value'}
                        <dt>{$value.name}</dt>
                        {volist name='job' id='pval'}
                            {if condition="$pval['iid'] eq $value['iid']"}
                            <dd>
                            	<input type="text" value="{$pval.p_name}">
                                {if condition="$pval['is_hot'] eq 1"}
                            	<button value="{$pval.pid}">取消热门</button>
                                {else /}
                                <button value="{$pval.pid}">设为热门</button>
                                {/if}
                            </dd>
                            {/if}
                        {/volist}
                    {/volist}
                </dl>
            </div>
        </div>
        <div class="span6">
            <div class="box">
                <div class="box-head">
                    <h3>添加职位</h3>
                </div>
                <br />
                 <br />
                <div class="box-content">
                    <form action="{:url('admin/position/add')}" class="form-horizontal">
                        <fieldset>
                            <div class="control-group success">
                                <label for="success" class="control-label">职位名称</label>
                                <div class="controls">
                                    <input type="text" name="job_name" id="success" class='input-square'>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label for="select" class="control-label">选择版块</label>
                                <div class="controls">
                                    <select name="select" id="select">
                                        <option value="">--请选择所属行业--</option>
                                        {volist name='option' id='val'}
                                        <option value="{$val.iid}">{$val.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button class="btn btn-primary" type="submit">添加</button>
                                <input type="reset" class='btn btn-danger' value="重置">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $('#countries button').each(function(){

        $(this).click(function(){
            $.post('__SITE__/admin/position/setHot', {pid:$(this).val(), btn:$(this).html()})
            if ($(this).html() == '取消热门'){

                $(this).html('设为热门'); 

                } else {

                    $(this).html('取消热门');
                }

            }
        );

    });
</script>