{__NOLAYOUT__}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit">
<meta property="qc:admins" content="23635710066417756375" />
<meta name="baidu-site-verification" content="QIQ6KC1oZ6" />
<meta charset="UTF-8">

<meta content="拉勾,拉勾网,拉勾招聘,拉钩, 拉钩网 ,互联网招聘,拉勾互联网招聘, 移动互联网招聘, 垂直互联网招聘, 微信招聘, 微博招聘, 拉勾官网, 拉勾百科,跳槽, 高薪职位, 互联网圈子, IT招聘, 职场招聘, 猎头招聘,O2O招聘, LBS招聘, 社交招聘, 校园招聘, 校招,社会招聘,社招" name="keywords">

<meta content="拉勾网是3W旗下的互联网领域垂直招聘网站,互联网职业机会尽在拉勾网" name="description">

<title>开通招聘服务-拉勾网-最专业的互联网招聘平台</title>

<link rel="Shortcut Icon" href="//www.lgstatic.com/hr/static/common/static/favicon_faed927.ico">
<script type="text/javascript" src="__STATIC__/js/jquery-1.11.3.js"></script>
<script type="text/javascript">
$(function() {
    function checkPhone() {
        var reg = /^1(3|4|5|7|8)\d{9}$/;
        //用ajax请求数据库，验证手机号是否已被注册
            if(reg.test($("#btn1").val())) {

                $("#btn1").next().html('<font color="green">正确的手机号</font>');
                $("#sub").attr("disabled",false);
                return true;
            } else {
                
                $("#btn1").next().html('<font color="red">请输入正确的手机号</font>');

                $("#sub").attr("disabled",true);
            
            }

    
    }
    /**
     * 用ajax和正则配合伪验证用户输入的密码是否符合要求
     * @return {[type]} [description]
     */
    function checkEmail() {

        var reg = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if (reg.test($("#btn2").val())) {
            $("#btn2").next().html('<font color="green">正确的邮箱</font>');
            $("#sub").attr("disabled",false);
            return true;
        } else {
            $("#btn2").next().html('<font color="red">邮箱格式不正确</font>');

            $("#sub").attr("disabled",true);
        }
    }

    $("#btn1").blur(function() {

        checkPhone();
    });

    $("#btn2").blur(function() {
        checkEmail();
    });

    $("#sub").click(function() {
        if($("#btn1").val() == '' && $("#btn2").val() == '') {
        alert('请输入手机号和邮箱');
        return false;
    }
    });
    

});
</script>
    
<script type="text/javascript">
(function () {
    var protocol = window.location.protocol;
    var host = window.location.host;
    var baseUrl = protocol + '//' + host;

    window.GLOBAL_DOMAIN = window.GLOBAL_DOMAIN || {
        ctx: 'http://www.lagou.com',
        rctx: protocol + '//hr.lagou.com',
        crctx: protocol + '//hr.lagou.com/company',
        pctx: protocol + '//passport.lagou.com',
        actx: 'http://account.lagou.com',
        paictx: protocol + '//pai.lagou.com',
        zctx : protocol + '//yanzhi.lagou.com',
        sctx: protocol + '//suggest.lagou.com',
        proctx : 'https://pro.lagou.com',
        lgsctx: protocol + '//www.lgstatic.com',
        FE_frontLogin: baseUrl + '/frontLogin.do',
        FE_frontLogout: baseUrl + '/frontLogout.do',
        FE_frontRegister: baseUrl + '/frontRegister.do'
    };

    window.GLOBAL_CDN_DOMAIN = 'www.lgstatic.com';
}) ();
</script>
    <!-- 动态token，防御伪造请求，重复提交 -->
    <script type="text/javascript">
    window.X_Anti_Forge_Token = 'f76e61d1-e057-4ce7-a1b5-a0704e76e1f1';
    window.X_Anti_Forge_Code = '32450492';
</script>


   <link rel="stylesheet" type="text/css" href="__SITE__/static/css/company/layout_8d09863.css" />
    <link rel="stylesheet" type="text/css" href="__SITE__/static/css/company/main_b4383c1.css" />
    <link rel="stylesheet" type="text/css" href="__SITE__/static/css/company/widgets_8641fd8.css" />
    <link rel="stylesheet" type="text/css" href="__SITE__/static/css/company/main_df891c6.css" />
</head>
<body>
            <!--B端头部通栏广告位-->
    

	<div id="lg_header">

		<!--B端头部黑色导航-->
			<div id="lg_tbar">
		
		<div class="inner">
			
			<div class="lg_tbar_l">
				<a href="javascript:;" class="lg_app" data-lg-tj-id="5l00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" target="_blank">企业版APP</a>
				<a href="__SITE__" class="lg_os" data-lg-tj-id="5m00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">拉勾网首页</a>
			</div>
			
			<ul class="lg_tbar_r">
            {if session('logo')}
				<li>
					<a href="//hr.lagou.com/corpPosition/create.html" data-lg-tj-id="5n00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow" target="_blank">发布新职位</a>
				</li>
				<li>
					<a href="http://www.lagou.com/c/myhome.html" class="bl" data-lg-tj-id="5o00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow" target="_blank">公司主页</a>
				</li>
            {/if}
				<li class="user_dropdown">
					<span class="unick bl">{:session('username')}</span>
					<em class="noticeDot dn" id="noticeDot"></em>
					<i></i>
					<ul>
						<li>
							<a href="javascript:;" data-lg-tj-id="5p00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">招聘设置</a>
						</li>
						<li>
							<a href="javascript:;" rel="nofollow" data-lg-tj-id="5q00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" target="_blank">帐号设置</a>
						</li>
						<li>
							<a href="__SITE__" data-lg-tj-id="5r00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">拉勾首页</a>
						</li>
						<li>
							<a href="{:url('index/auth/logout')}" data-lg-tj-id="5s00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">退出</a>
						</li>
					</ul>
				</li>
			</ul>

		</div>

	</div><!--end #lg_tbar-->
        {if session('logo')}

		<!--B端头部白色导航-->
			<div id="lg_tnav">

		<div class="inner">
			<div class="lg_tnav_l">
				<a href="javascript:;" class="lg_logo" data-lg-tj-id="5t00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">
					<h1>拉勾网</h1>
					<span>企业版</span>
				</a>
			</div>
			<ul class="lg_tnav_wrap">
				<li>
					<a href="javascript:;" class="current" data-lg-tj-id="5u00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">工作台</a>
				</li>
				<li> <!-- 简招迁移“我的plus收藏夹所以有|| 7 ” -->
					<a href="javascript:;"  data-lg-tj-id="5v00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">简历管理</a>
					<b class="unhandleNum" id="unhandleNum"></b>
				</li>
				<li>
					<a href="javascript:;"  data-lg-tj-id="5w00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">职位管理</a>
				</li>
				<li>
					<a href="javascript:;" target="_blank" data-lg-tj-id="5x00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">PLUS</a>
				</li>
				<li>
					<a href="javascript:;"  data-lg-tj-id="5y00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull" target="_blank">一拍</a>
					<b class="paiNum" id="paiNum" style="left: 45px;"></b>
				</li>
								<li>
					<a href="javascript:;"  target="_blank" data-lg-tj-id="1NJ0" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">大鲲</a>
									</li>
							</ul>
			<a href="javascript:;" class="mds_link" data-lg-tj-id="Ex00" data-lg-tj-no="idnull" data-lg-tj-cid="idnull">简招</a>
		</div>
        {/if}
	</div><!--end #lg_tnav-->


	</div><!--end #header-->

	<input type="hidden" id="serverTime" value="1481262437418" />

    <div id="banner">
        <h1>Open recruitment service</h1>
        <h2>开通招聘服务</h2>
    </div>


    <form class="content_container no_label" action="{:url('index/company/doVerify')}" method="post">
        <ul>
            <li class="required">
                <input type="text" name="call_num" placeholder="请输入你的手机号或座机号码"/ id="btn1">
                <span></span>
                <span class="tip">（请填写真实有效的电话号码，方便系统校验使用）</span>
                <input type="hidden" name="cid" value="{:session('cid')}" />
            </li>
            <li class="required">
                
                <input type="text" name="cemail" placeholder="请输入你的公司邮箱" id="btn2"/>
                <span></span>
                <span class="tip">（该邮箱将作为接收简历邮箱，审核通过后不可更改）</span>
            </li>
            <input class="btn next_step" type="submit" id="sub" value="开通">
            <p class="question_tip">
                如有任何问题，请致电：4006-2828-35或写信给我们：gogo@lagou.com，我们会尽快为你解决。
            </p>
        </ul>
    </form>

    <a id="backtop" title="回到顶部" rel="nofollow"></a>
<!-- feedback -->
<!--
    @require "common/widgets/footer_b/modules/feedback/feedback.less"
-->

<div id="product-fk">
	<div id="feedback-icon">
		<div class="fb-icon"></div>
		<span>我要反馈</span>
	</div>
</div>

<div id="footer">
    <div class="wrapper">
        <i class="footer_lagou_icon"></i>
        <div class="inner_wrapper">
            <a class="footer_app" href="javascript:;" rel="nofollow">拉勾APP<span>new</span><img data-delay-src="http://www.lagou.com/image2/M00/24/1D/CgqLKVaLdtWAKVC3AAEEpK9-Koc598.JPG" width="256" height="256"></a>
            <a href="javascript:;" target="_blank" rel="nofollow">拉勾微博</a>
            <a class="footer_qr" href="javascript:;" rel="nofollow">拉勾微信<img data-delay-src="http://www.lagou.com/image2/M00/18/45/CgpzWlZNl0qAZitPAABXEpAOJx0071.JPG" width="242" height="242"></a>
            <a href="javascript:;" target="_blank" rel="nofollow">版本更新</a>
            <a href="javascript:;" target="_blank" rel="nofollow">帮助中心</a>
            <a href="javascript:;" target="_blank" rel="nofollow">联系我们</a>
            <a id="onlineService" href="javascript:;" rel="nofollow">在线交流</a>
            <span class="tel">服务热线：<em>4006-2828-35 (9:00 -18:00)</em></span>
        </div>
        <div class="copyright">
            <span><em>&copy;</em>2016 Lagou </span>
            <a target="_blank" href="javascript:;" rel="nofollow">京ICP备14023790号-2</a>
            <span>京公网安备11010802017116号</span>
        </div>
    </div>
</div>
<script type="text/javascript" src="/__SITE__/static/js/company/vendor_4a7739c.js"></script>
<script type="text/javascript" src="__SITE__/static/js/company/service_bd9a9cb.js"></script>
<script type="text/javascript" src="__SITE__/static/js/company/main.html_aio_4787e07.js"></script>
<script type="text/javascript" src="__SITE__/static/js/company/widgets_2f7d426.js"></script>
<script type="text/javascript" src="__SITE__/static/js/company/userinfo_d900acb.js"></script>
<script type="text/javascript" src="__SITE__/static/js/company/layout_ef6b68d.js"></script>
<script type="text/javascript" src="__SITE__/static/js/company/main.html_aio_2_2134de1.js"></script>
<script type="text/javascript">
    require(['common/widgets/passport/passport'], function() {
        if (/^https?\:\/\/hr\.lagou\.com\/company(\/|$)/i.test(window.location.href)) {
            return;
        }

    
        PASSPORT.util.rpc({
            url: GLOBAL_DOMAIN.ctx + '/common/ping.json',
            succ: function(data) {
                PASSPORT.util.tinfo('ping succ:' + data);
            },
            fail: function(data) {
                PASSPORT.util.tinfo('ping fail:' + data);
            }
        });

        require(['common/widgets/header_b/modules/common/notice']);

    
    });


	    require(['common/widgets/header_b/layout/main']);
	

	require(['common/widgets/footer_b/modules/feedback/feedback']);


    require(['common/widgets/footer_b/layout/main']);
    
    $(document).ready(function () {
        var selector = '#webchat7moor';
        if ($(selector).length) { 
            return;
        }

        var jqIframe = $('<iframe>', {
            id: selector.slice(1),
            src: '//www.lgstatic.com/third-parties/webchat7moor/main_59be2f6.html',
            style: 'margin:0;'
                 + 'padding:0;'
                 + 'width:320px;'
                 + 'height:500px;'
                 + 'border-width:0;'
                 + 'border-radius: 3px;'
                 + 'transition: height 0.5s ease-out;'
                 + 'z-index:-99999;'
                 + 'display: none;'
                 + 'bottom:0;'
                 + 'right:0;'
                 + 'position:fixed;'
        });
        $(document.body).append(jqIframe);

        var child = jqIframe[0].contentWindow;
        var target = window.location.protocol + '//' + (window.GLOBAL_CDN_DOMAIN || 'www.lgstatic.com');

        $('#onlineService, #feedback-icon').on('click', function (e) {
            jqIframe.css('z-index', 99999).show();
            child.postMessage('{"code":1,"message":"open webchat plugin"}', target);
        });

        $(window).on('message', function (e) {
            var origin = e.origin || e.originalEvent.origin;
            if (origin.indexOf(target) !== 0) { 
                return;
            }

            var data = e.data || e.originalEvent.data;
            if (data.code === 2 && typeof data.css !== 'undefined') { 
                jqIframe.css(data.css);
            } else { 
                jqIframe.css('z-index', -99999).hide();
            }
        });
    });


        window.global = window.global || {};
        global.resubmitToken = "";
        global.receiveEmail = "liu123@loveforyoung.cn";
        global.contact = "";
        require(['service/page/open1/main']);
    </script>
</body>
</html>
