<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>后台管理系统</title>
<meta name="description" content="">

<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="__ADMIN_STATIC__/css/bootstrap.css">
<link rel="stylesheet" href="__ADMIN_STATIC__/css/bootstrap-responsive.css">
<link rel="stylesheet" href="__ADMIN_STATIC__/css/jquery.fancybox.css">
<link rel="stylesheet" href="__ADMIN_STATIC__/css/style.css">
</head>
<body>	
<div class="topbar">
	<div class="container-fluid">
		<a href="dashboard.html" class='company'>后台管理系统</a>
		<form action="#">
			<input type="text" value="搜索">
		</form>
		<ul class='mini'>
			<li>
				<a href="#">
					<img src="__ADMIN_STATIC__/img/icons/fugue/book-question.png" alt="">
					Support tickets
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__ADMIN_STATIC__/img/icons/fugue/document-task.png" alt="">
					Pending orders
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__ADMIN_STATIC__/img/icons/fugue/balloons-white.png" alt="">
					消息
				</a>
			</li>
			<li>
				<a href="#">
					<img src="__ADMIN_STATIC__/img/icons/fugue/gear.png" alt="">
					设置
				</a>
			</li>
			<li>
				<a href="index.html">
					<img src="__ADMIN_STATIC__/img/icons/fugue/control-power.png" alt="">
					退出
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="breadcrumbs">
	<div class="container-fluid">
		<ul class="bread pull-left">
			<li>
				<a href=""><i class="icon-home icon-white"></i></a>
			</li>
			<li>
				<a href="">
					数据表
				</a>
			</li>
		</ul>

	</div>
</div>
<div class="main">
	<div class="navi">
		<ul class='main-nav'>
			<li class='active'>
				<a href="dashboard.html" class='light'>
					<div class="ico"><i class="icon-home icon-white"></i></div>
					个人用户列表
				</a>
			</li>
			<li>
				<a href="#" class='light'>
					<div class="ico"><i class="icon-list icon-white"></i></div>
					企业用户列表
				</a>
			</li>
			<li>
				<a href="#" class='light'>
					<div class="ico"><i class="icon-th-large icon-white"></i></div>
					qwe
				</a>
			</li>
			<li>
				<a href="#" class='light'>
					<div class="ico"><i class="icon-tasks icon-white"></i></div>
					asd
				</a>
			</li>
			<li>
				<a href="#" class='light'>
					<div class="ico"><i class="icon-signal icon-white"></i></div>
					Statistics
				</a>
			</li>
			<li>
				<a href="#" class='light'>
					<div class="ico"><i class="icon-exclamation-sign icon-white"></i></div>
					Error Pages
				</a>
			</li>
			<li>
				<a href="#" class='light'>
					<div class="ico"><i class="icon-book icon-white"></i></div>
					Sample Pages
				</a>
			</li>
		</ul>
	</div>
</div>				
{__CONTENT__}
<script src="__ADMIN_STATIC__/js/jquery.js"></script>
<script src="__ADMIN_STATIC__/js/less.js"></script>
<script src="__ADMIN_STATIC__/js/bootstrap.min.js"></script>
<script src="__ADMIN_STATIC__/js/jquery.peity.js"></script>
<script src="__ADMIN_STATIC__/js/jquery.fancybox.js"></script>
<script src="__ADMIN_STATIC__/js/jquery.flot.js"></script>
<script src="__ADMIN_STATIC__/js/jquery.color.js"></script>
<script src="__ADMIN_STATIC__/js/jquery.flot.resize.js"></script>
<script src="__ADMIN_STATIC__/js/custom.js"></script>
</body>
</html>