<div id="footer">
	<div class="wrapper">
		<i class="footer_lagou_icon"></i>
		<div class="inner_wrapper">
			<a class="footer_app" href="http://www.lagou.com/app/download.html" rel="nofollow">拉勾APP<span>new</span><img data-delay-src="__SITE__/static/picture/cgqlkvaldtwakvc3aaeepk9-koc598.jpg" width="256" height="256"></a>
			<a href="http://e.weibo.com/lagou720" target="_blank" rel="nofollow">拉勾微博</a>
			<a class="footer_qr" href="javascript:void(0)" rel="nofollow">拉勾微信<img data-delay-src="__SITE__/static/picture/cgpzwlznl0qazitpaabxepaojx0071.jpg" width="242" height="242"></a>
			<a href="http://activity.lagou.com/topic/whatisnew.html" target="_blank" rel="nofollow">版本更新</a>
			<a href="//www.lagou.com/qa.html?t=1" target="_blank" rel="nofollow">帮助中心</a>
			<a href="//www.lagou.com/about.html" target="_blank" rel="nofollow">联系我们</a>
			<a id="onlineService" href="javascript:void(0);" rel="nofollow">在线交流</a>
			<span class="tel">服务热线：<em>4006-2828-35 (9:00 -18:00)</em></span>
		</div>
		<div class="copyright  has_logo">
			<a rel="nofollow" href="http://v.pinpaibao.com.cn/authenticate/cert/?site=www.lagou.com&at=official"><img class="secu-img" src="__SITE__/static/picture/security_association_da335dd.png" alt="安全联盟"></a>&nbsp; <span><em>&copy;</em>2016 Lagou </span>
			<a target="_blank" href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" rel="nofollow">京ICP备14023790号-2</a>
			<span>京公网安备11010802017116号</span>
		</div>
	</div>
</div>
</body>
</html>