<div class="container-fluid">
	<div class="content">
		<div class="row-fluid">
			<div class="span12">
				<div class="box">
					<div class="box-head tabs">
						<h3>城市管理</h3>
						<ul class="nav nav-tabs">
							<li class='active'>
								<a href="#inbox" data-toggle="tab">编辑</a>
							</li>
							<li>
								<a href="#sent" data-toggle="tab">已删除·</a>
							</li>
							<li>
								<a href="#trash" data-toggle="tab">黑名单</a>
							</li>
						</ul>
					</div>
					<div class="box-content box-nomargin">
						<div class="alert alert-info">
						</div>
						<div class="tab-content">
							<div class="tab-pane active table-with-action" id="inbox">
								<table class='table table-has-pover table-striped table-bordered dataTable dataTable-nosort' data-nosort="0">
									<tr>
										<th class=''>
											<input type="checkbox" class='sel_all'>
										</th>
										<th>显示顺序</th>
										<th>城市名称</th>
										<th>操作</th>
									</tr>
									<tr class='table-unread'>
										<td class='table-checkbox'>
											<input type="checkbox" class='selectable-checkbox'>
										</td>
										<td></td>
										<td>
											<a href="#" class='pover' data-title="username" data-content="some user information"></a>
										</td>
										<td class='actions'>
											<div class="btn-group">
												<a href="" title="Delete" class="btn btn-mini tip">
													删除
												</a>
											</div>
										</td>
									</tr>
								</table>
								<div class="force-padding">
									<div class="btn-toolbar">
										<div class="btn-group">
											<button class="btn">删除</button>
										</div>
									</div>
								</div>
								<div class="box-head">
									<h3>
										<img src="__ADMIN_STATIC__/img/icons/essen/16/plus.png" alt="">

										添加城市
									</h3>
								</div>
								<div class="box-content">
									<div class="alert alert-info alert-block">
										<a class="close" data-dismiss="alert" href="#">×</a>
										<h4 class="alert-heading">提示!</h4>
									</div>
									<form action="{:url('admin/link/add')}" class="form-horizontal">
										<fieldset>
											<div class="control-group">
												<label for="mini" class="control-label">显示顺序</label>
												<div class="controls">
													<input type="text" name="show_order" id="mini" class='input-mini input-square'>
												</div>
											</div>
											<div class="control-group">
												<label for="grid2" class="control-label">城市名称</label>
												<div class="controls">
													<input type="text" name="web_name" id="grid2" class='span2 input-square'>
												</div>
											</div>
											<div class="control-group">
												<label for="grid2" class="control-label">拼音首字母</label>
												<div class="controls">
				                                    <select name="select" id="select">
				                                        <option value="0">--不选择--</option>
				                                        <option value="">A</option>
				                                        <option value="">B</option>
				                                        <option value="">C</option>
				                                        <option value="">D</option>
				                                        <option value="">E</option>
				                                        <option value="">F</option>
				                                        <option value="">G</option>
				                                        <option value="">H</option>
				                                        <option value="">I</option>
				                                        <option value="">J</option>
				                                        <option value="">K</option>
				                                        <option value="">L</option>
				                                        <option value="">M</option>
				                                        <option value="">N</option>
				                                        <option value="">O</option>
				                                        <option value="">P</option>
				                                        <option value="">Q</option>
				                                        <option value="">R</option>
				                                        <option value="">S</option>
				                                        <option value="">T</option>
				                                        <option value="">U</option>
				                                        <option value="">V</option>
				                                        <option value="">W</option>
				                                        <option value="">X</option>
				                                        <option value="">Y</option>
				                                        <option value="">Z</option>
				                                    </select>
			                                    </div>
			                                </div>
											<div class="control-group">
												<div class="controls">
													<button class="btn btn-success">添加</button>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
							<div class="tab-pane table-with-action" id="sent">
								<table class='table table-striped table-bordered dataTable dataTable-nosort' data-nosort="0">
									<tr>
										<td class=''>
											<input type="checkbox" class='sel_all'>
										</td>
										<th>用户ID</th>
										<th>用户名</th>
										<th>注册时间</th>
										<th>操作</th>
										<th>吖吖</th>
										<th>额额</th>
									</tr>
									<tr class='table-unread'>
										<td class='table-checkbox'>
											<input type="checkbox" class='selectable-checkbox'>
										</td>
										<td></td>
										<td>
											<a href="#" class='pover' data-title="username" data-content="some user information"></a>
										</td>
										<td>

										</td>
										<td></td>
										<td></td>
										<td class='actions'>
											<div class="btn-group">
												<a href="" title="Renew" class="btn btn-mini tip">
													恢复
												</a>
												<a href="" title="Delete" class="btn btn-mini tip">
													删除
												</a>
											</div>
										</td>
									</tr>
								</table>
								<div class="force-padding">
									<div class="btn-toolbar">
										<div class="btn-group">
											<button class="btn">删除</button>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane table-with-action" id="trash">
								<table class='table table-striped table-bordered dataTable dataTable-nosort' data-nosort="0">
									<tr>
										<td class=''>
											<input type="checkbox" class='sel_all'>
										</td>
										<th>用户ID</th>
										<th>用户名</th>
										<th>注册时间</th>
										<th>吖吖</th>
										<th>额额</th>
										<th>操作</th>
									</tr>
									<tr>
										<td class='table-checkbox'>
											<input type="checkbox" class='selectable-checkbox'>
										</td>
										<td>Lorem</td>
										<td>
											<a href="#" class='pover' data-title="username" data-content="some user information">Username</a>
										</td>
										<td>

										</td>
										<td></td>
										<td></td>
										<td class='actions'>
											<div class="btn-group">
												<a href="#" title="Read message" class="btn btn-mini tip">恢复
												</a>
												<a href="#" title="Delete" class="btn btn-mini tip deleteRow">删除
												</a>
											</div>
										</td>
									</tr>
								</table>
								<div class="force-padding">
									<div class="btn-toolbar">
										<div class="btn-group">
											<button class="btn">删除</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
</div>