<div class="container-fluid">
	<div class="content">
		<div class="row-fluid">
			<div class="span12">
				<div class="box">
					<div class="box-head tabs">
						<h3>企业管理</h3>
						<ul class="nav nav-tabs">
							<li class='active'>
								<a href="#inbox" data-toggle="tab">用户管理</a>
							</li>
							<li>
								<a href="#trash" data-toggle="tab">职位列表</a>
							</li>
							<li>
								<a href="#sent" data-toggle="tab">回收站</a>
							</li>
						</ul>
					</div>
					<div class="box-content box-nomargin">
						<div class="tab-content">
							<div class="tab-pane active table-with-action" id="inbox">
								<div class="alert alert-info">
									<strong>企业用户管理</strong> 
								</div>
								<form action="{:url('admin/company/delete')}" method="post">
									<table class='table table-has-pover table-striped table-bordered dataTable dataTable-nosort' data-nosort="0">
										<tr>
											<th class='' style="text-align:center">
												<input type="checkbox" class='sel_all'>
											</th>
											<th>用户名</th>
											<th>email</th>
											<th>手机/电话</th>
											<th>企业信息</th>
											<th>注册时间</th>
											<th>更新时间</th>
											<th>操作</th>
										</tr>
										{notempty name='list'}
										{volist name='list' id='val'}
										<tr class='table-unread'>
											<td class='table-checkbox'>
												<input type="checkbox" class='selectable-checkbox' value="{$val.cid}" name="cid[]">
											</td>
											<td>{$val.cname}</td>
											<td>
												{$val.cemail}
											</td>
											<td>
												{$val.call_num}
											</td>
											<td>{$val.c_realname}</td>
											<td>{$val.create_time|date="Y-m-d",###}</td>
											<td>{$val.update_time|date="Y-m-d",###}</td>
											<td class='actions'>
												<div class="btn-group">
													<a href="{:url('admin/company/delete?cid='.$val['cid'])}" title="Delete" class="btn btn-mini tip">
														删除
													</a>
												</div>
											</td>
										</tr>
										{/volist}
										{/notempty}
									</table>
									<div class="force-padding">
										<div class="btn-toolbar">
											<div class="btn-group">
												<button class="btn">删除</button>
											</div>
										</div>
									</div>
								</form>
								<div class="force-padding">{$list->render()}</div>
							</div>
							<div class="tab-pane table-with-action" id="trash">
								<div class="alert alert-info">
									<strong>职位列表</strong> 
								</div>
								<table class='table table-striped table-bordered dataTable dataTable-nosort' data-nosort="0" id="count">
									<tr>
										<th class=''>
											<input type="checkbox" class='sel_all'>
										</th>
										<th>职位名称</th>
										<th>发布公司</th>
										<th>审核状态</th>
										<th>创建时间</th>
										<th>有效期</th>
										<th>更新时间</th>
										<th>操作</th>
									</tr>
									{volist name='office' id='sval'}
									<tr id="office">
										<td class='table-checkbox'>
											<input type="checkbox" class='selectable-checkbox' value="{$sval.offer_id}">
										</td>
										<td>{$sval.offer_name}</td>
										<td>{$sval.company}</td>
										<td>
											{if condition="$sval['is_disabled'] eq 1"}
											通过
											{else /}
											未通过
											{/if}
										</td>
										<td>{$sval.create_time|date="Y-m-d",###}</td>
										<td>15天</td>
										<td>{$sval.update_time|date="Y-m-d",###}</td>
										<td class='actions'>
											<div class="btn-group">
												<a href="{:url('admin/office/delete?offer_id='.$sval['offer_id'])}" title="Delete" class="btn btn-mini tip">删除
												</a>
												<a href="{:url('admin/company/details?offer_id='.$sval['offer_id'])}" title="Delete" class="btn btn-mini tip" target="_blank">详情
												</a>
												{if condition="$sval['is_hot'] eq 1"}
												<button value="{$sval.offer_id}" id="hot">取消热门</button>
												{else /}
												<button value="{$sval.offer_id}" id="hot">设为热门</button>
												{/if}
											</div>
										</td>
									</tr>
									{/volist}
								</table>
								<div class="force-padding">
									<div class="btn-toolbar">
										<div class="btn-group">
											<button class="btn" id="review">审核通过</button>
											<button class="btn" id="delete">删除</button>
										</div>
									</div>
								</div>
								<div class="force-padding">{$office->render()}</div>
							</div>
							<div class="tab-pane table-with-action" id="sent">
								<div class="alert alert-info">
									<strong>企业用户回收站</strong>
								</div>
								<form action="{:url('admin/company/action')}" method="post">
									<table class='table table-striped table-bordered dataTable dataTable-nosort' data-nosort="0">
										<tr>
											<th class='' style="text-align:center">
												<input type="checkbox" class='sel_all'>
											</th>
											<th>用户名</th>
											<th>email</th>
											<th>手机/电话</th>
											<th>企业信息</th>
											<th>注册时间</th>
											<th>删除时间</th>
										</tr>
										{volist name='soft' id='sval'}
										<tr>
											<td class='table-checkbox'>
												<input type="checkbox" class='selectable-checkbox' value="{$sval.cid}" name="cid[]">
											</td>
											<td></td>
											<td>
												{$sval.cemail}
											</td>
											<td>
												{$sval.call_num}
											</td>
											<td>{$sval.cname}</td>
											<td></td>
											<td></td>
										</tr>
										{/volist}
									</table>
									<div class="force-padding">
										<div class="btn-toolbar">
											<div class="btn-group">
												<button class="btn" value="0" name="btn">恢复</button>
											</div>
											<div class="btn-group">
												<button class="btn" value="1" name="btn">删除</button>
											</div>
										</div>
									</div>
								</form>
								<div class="force-padding">{$soft->render()}</div>
								<div class="alert alert-info" style="border-top:1px solid #a6a6a6">
									<strong>职位回收站</strong>
								</div>
								<form action="{:url('admin/office/action')}" method="post">
									<table class='table table-striped table-bordered dataTable dataTable-nosort' data-nosort="0">
										<tr>
											<th class='' style="text-align:center">
												<input type="checkbox" class='sel_all'>
											</th>
											<th>职位名称</th>
											<th>发布公司</th>
											<th>审核状态</th>
											<th>创建时间</th>
											<th>到期时间</th>
											<th>更新时间</th>
											<th>点击次数</th>
											<th>收到简历</th>
										</tr>
										{volist name='soft_office' id='soval'}
										<tr>
											<td class='table-checkbox'>
												<input type="checkbox" class='selectable-checkbox' value="{$soval.offer_id}" name="id[]">
											</td>
											<td>{$soval.offer_name}</td>
											<td>{$soval.company}</td>
											<td>
												{if condition="$soval['is_disabled'] eq 1"}
												通过
												{else /}
												未通过
												{/if}
											</td>
											<td>{$soval.create_time|date="Y-m-d",###}</td>
											<td></td>
											<td>{$soval.update_time|date="Y-m-d",###}</td>
											<td></td>
											<td></td>
										</tr>
										{/volist}
									</table>
									<div class="force-padding">
										<div class="btn-toolbar">
											<div class="btn-group">
												<button class="btn" value="0" name="btn">恢复</button>
											</div>
											<div class="btn-group">
												<button class="btn" value="1" name="btn">删除</button>
											</div>
										</div>
									</div>
								</form>
								<div class="force-padding">{$soft_office->render()}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<script type="text/javascript">
	$('#count #hot').each(function(){
		var btn;
		$(this).click(function(){
			
			if ($(this).html() == '取消热门'){

				$(this).html('设为热门'); 
				btn = 0;
			} else {

				$(this).html('取消热门');
				btn = 1;
			}

			$.post('__SITE__/admin/company/setHot', {id:$(this).val(), btn:btn});

		}
		);

	});
</script>
<script type="text/javascript">
	$('#review').click(function(){
		
		$("#office input:checked").each(function(){

			$(this).parent().next().next().next().html('通过');

			$.post('__SITE__/admin/company/review', {select : $(this).val()});

		});

	});

	$('#delete').click(function(){
		$("input:checked").each(function(){
			$.post('__SITE__/admin/office/delete', {offer_id : $(this).val()});

		});

	});
/*
	$('#office button').each(function(){
		$(this).click(function(){
			$.post('__SITE__/admin/index/delete',{rid:$(this).val()});
			$(this).parent().parent().parent().css('display','none');
		});
	});*/


</script>
